sphinx
sphinx-rtd-theme
sphinx-gallery
sphinx-autoapi
pydata-sphinx-theme
matplotlib
mne
nibabel
nilearn
numpy
osfclient
pandas
pyyaml
pqdm
scipy
scikit-learn
seaborn
tqdm
tensorflow==2.19
tensorflow-probability[tf]==0.25
-e .
